* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: 0;
	font-style: normal;
}

.container {
	display: flex;
	flex-direction: column;
}

main {
	align-items: center;
	justify-content: center;
	margin: 50px auto;
	max-width: 1069px;
}

section {
	background: white;
	border-radius: 10px;
	padding: 64px;
}

div.adm-top {
	align-items: flex-start;
	margin: 0 0 -20px 0;
}

div.adm-menu {
	flex-direction: row;
	flex-wrap: wrap;
	gap: 15px;
}

button {
	border: 1px solid #6c6c80;
	border-radius: 30px;
	width: 115px;
	height: 35px;
	background: none;
	color: #6c6c80;
	margin-right: 20px;
}

button.btn-complaint:hover {
	border-color: #f6bc4a;
	color: #f6bc4a;
	cursor: pointer;
}

button.btn-denunciation:hover {
	border-color: #db6565;
	color: #db6565;
	cursor: pointer;
}

button.btn-suggestion:hover {
	border-color: #26ca40;
	color: #26ca40;
	cursor: pointer;
}

article {
	border: 1px solid #6c6c80;
	border-radius: 20px;
	padding: 25px;
	margin: 50px auto 0 auto;
	text-align: justify;
}

span.complaint {
	font-weight: 700;
	color: #f6bc4a;
}

span.denunciation {
	font-weight: 700;
	color: #db6565;
}

span.suggestion {
	font-weight: 700;
	color: #26ca40;
}

h1 {
	margin-bottom: 30px;
}

h2 {
	margin-bottom: 25px;
}

h3 {
	margin-top: 30px;
}

ul li:nth-child(3) {
	background-color: #5c65c6;
	border-radius: 10px;
}

@media screen and (max-width: 700px) {
	.adm-menu {
		justify-content: center;
		gap: 15px;
	}
}
