.container {
	background-color: white;
	border-radius: 8px;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
	font-size: 20px;
	margin: 67px auto;
	max-width: 730px;
	padding: 64px;
	text-align: center;
}

.container img {
	max-width: 300px;
	max-height: 300px;
	width: 100%;
}

.container span {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 19px;
	color: #6c6c80;
}

@media (min-width: 550px) {
	.container .left {
		float: left;
		margin-right: 13px;
	}
	.container .right {
		float: right;
		margin-left: 13px;
	}
}

.container .title {
	margin-bottom: 22px;
}

.container p {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 23px;
	text-align: start;

	/* Cinza escuro */
	color: #6c6c80;
}

ul li:nth-child(3) {
	background-color: #5c65c6;
	border-radius: 10px;
}
