@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Ubuntu:wght@300;400;700&display=swap");

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: 0;
	font-style: normal;
}

.container {
	display: flex;
	flex-direction: column;
}

main {
	align-items: center;
	justify-content: center;
	background: #f0f0f5;
	margin: 50px 0 100px 0;
}

section {
	background: white;
	border-radius: 10px;
	width: 80%;
	padding-bottom: 80px;
}

div.adm-top {
	align-items: flex-start;
	margin: 50px 50px -20px 50px;
}

div.adm-menu {
	flex-direction: row;
	flex-wrap: wrap;
	gap: 15px;
}

button {
	border: 1px solid #6c6c80;
	border-radius: 30px;
	width: 115px;
	height: 35px;
	background: none;
	color: #6c6c80;
	margin-right: 20px;
}

button.btn-complaint:hover {
	border-color: #f6bc4a;
	color: #f6bc4a;
	cursor: pointer;
}

button.btn-denunciation:hover {
	border-color: #db6565;
	color: #db6565;
	cursor: pointer;
}

button.btn-suggestion:hover {
	border-color: #26ca40;
	color: #26ca40;
	cursor: pointer;
}

article {
	border: 1px solid #6c6c80;
	border-radius: 20px;
	padding: 35px;
	margin: 50px 50px 0 50px;
}

span.complaint {
	font-weight: 700;
	color: #f6bc4a;
}

span.denunciation {
	font-weight: 700;
	color: #db6565;
}

span.suggestion {
	font-weight: 700;
	color: #26ca40;
}

h1 {
	margin-bottom: 15px;
	font-weight: 700;
	font-size: 33px;
}

h2 {
	margin-bottom: 25px;
	color: #6c6c80;
	font-family: "Roboto";
	font-weight: 700;
	font-size: 20px;
}

h3 {
	font-size: 15px;
	color: #6c6c80;
	font-weight: 400;
	font-family: "Roboto";
	margin-top: 30px;
}

p {
	font-family: "Roboto";
	font-weight: 400;
	font-size: 18px;
	color: #6c6c80;
}

ul li:nth-child(3) {
	background-color: #5c65c6;
	border-radius: 10px;
}
