body {
	font-weight: 700;
	font-family: Ubuntu, sans-serif;
}

header {
	width: 100%;
	height: 76px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #656fdb;
	color: #f0f0f0;
}

#logo {
	width: 170px;
	height: 50px;
	padding: 0 75px;
}

nav a {
	color: #f0f0f0;
	font-size: 20px;
	font-family: roboto, sans-serif;
	padding: 0 75px;
	text-decoration: none;
}

nav:hover {
	cursor: pointer;
}

main {
	display: flex;
	justify-content: space-evenly;
	background-color: white;
}

section {
	width: 400px;
	padding-top: 230px;
}

h2 {
	font-size: 60px;
	color: #322153;
	line-height: 110%;
}

button {
	width: 284px;
	height: 70px;
	background-color: #656fdb;
	color: white;
	border: none;
	border-radius: 8px;
	font-family: roboto, sans-serif;
	font-size: 20px;
	margin-top: 20px;
	cursor: pointer;
}

button:hover {
	cursor: pointer;
	background-color: #5c65c6;
	color: #f0f0f0;
}

figure img {
	width: 623px;
	height: 554;
	transform: translateY(137px);
	z-index: 1;
}

footer {
	width: 100%;
	height: 333px;
	background-color: #d9d9d9;
	z-index: 2;
}

@media screen and (max-width: 1048px) {
	figure img {
		width: 80%;
		margin-top: 60px;
		transform: translateY(0);
	}

	main {
		justify-content: center;
		text-align: center;
		flex-direction: column-reverse;
		align-items: center;
		padding-bottom: 30px;
	}

	section {
		padding-top: 40px;
		width: 70%;
	}

	h2 {
		font-size: 45px;
	}

	footer {
		visibility: hidden;
		display: none;
	}
}

@media screen and (max-width: 450px) {
	h1 {
		padding: 0 30px;
	}

	#logo {
		padding: 0 30px;
	}

	nav a {
		padding: 0 30px;
	}

	h2 {
		font-size: 30px;
	}

	button {
		width: 90%;
	}
}