* {
	box-sizing: border-box;
	outline: 0;
	font-style: normal;
	font-family: "Ubuntu", Arial, sans-serif;
}

body {
	display: flex;
}

#container-header {
	display: flex;
	background-color: #656fdb;
	width: 50%;
	align-items: center;
	justify-content: center;
	color: white;
	font-size: 25px;
	height: 100vh;
}

main {
	display: flex;
	flex-direction: column;
	width: 50%;
	justify-content: center;
	align-items: center;
	background-color: #f0f0f0;
}

#container-login {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80%;
	height: 400px;
	background-color: white;
	border-radius: 8px;
	padding: 30px;
	max-width: 500px;
}

#form-login {
	width: 80%;
}

#container-login h1 {
	margin-bottom: 20px;
}

#container-login label {
	display: flex;
	font-size: 14px;
	margin-bottom: 5px;
	color: #6c6c80;
}

#container-login input {
	display: flex;
	width: 100%;
	height: 45px;
	border-radius: 8px;
	background-color: #f0f0f0;
	border: none;
	margin-bottom: 20px;
	padding: 16px 24px;
	color: #6c6c80;
	font-weight: lighter;
	font-family: Roboto, sans-serif;
}

#container-login button {
	width: 100%;
	height: 45px;
	background-color: #656fdb;
	border: none;
	border-radius: 8px;
	color: white;
	font-weight: bold;
	font-size: 15px;
}

#container-login button:hover {
	cursor: pointer;
	background-color: #5c65c6;
	color: #f0f0f0;
}

@media (max-width: 1000px) {
	body {
		flex-wrap: wrap;
		height: 100vh;
	}

	main {
		width: 100%;
		height: 90vh;
	}

	#container-header {
		width: 100%;
		height: 10vh;
		font-size: 18px;
	}

	#container-login {
		width: 65%;
	}
}

@media (max-width: 630px) {
	#container-login {
		width: 80%;
	}
}
