* {
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
}

body {
	background: #f0f0f5;
}

a {
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #322153;
	font-family: Ubuntu, sans-serif;
}

/* css navbar  */

.navbar ul {
	align-items: center;
	background-color: #656fdb;
	color: #f0f0f0;
	display: flex;
	height: 76px;
}
.navbar li {
	list-style-type: none;
	padding: 1rem;
}

.navbar a {
	color: #f0f0f0;
}

.navbar-logo {
	flex: 1;
	font-size: 1.5rem;
	user-select: none;
}

.navbar img {
	margin-left: 77px;
}
.navbar li:last-child {
	margin-right: 77px;
}

.navbar-toggle {
	display: none;
}

@media (max-width: 600px) {
	.navbar ul {
		flex-wrap: wrap;
		height: auto;
	}

	.navbar li:last-child {
		margin: auto;
	}

	.navbar-toggle {
		display: block;
	}
	.navbar-links {
		display: none;
		text-align: center;
		width: 100%;
	}
	.active {
		display: block;
	}
}

ul li.navbar-links:hover {
	background-color: #707aeb;
	border-radius: 10px;
}
