* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background: #F0F0F5;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    color: #322153;
    font-family: Ubuntu, sans-serif;
}

/* css navbar  */

.navbar ul {
    align-items: center;
    background-color: #656FDB;
    color: #f0f0f0;
    display: flex;
    height: 76px;
}
.navbar li {
    list-style-type: none;
    padding: 1rem;
}

.navbar a {
    color: #f0f0f0;
}

.navbar-logo {
    flex: 1;
    font-size: 1.5rem;
    user-select: none;
}

.navbar img {
    margin-left: 77px;
}
.navbar li:last-child {
    margin-right: 77px;
}

.navbar-toggle {
    display: none;
}


@media (max-width: 600px) {
    .navbar ul {
        flex-wrap: wrap;
        height: auto;
    }

    .navbar li:last-child {
        margin: auto;
    }

    .navbar-toggle {
        display: block;
    }
    .navbar-links {
        display: none;
        text-align: center;
        width: 100%;
    }
    .active {
        display: block;
    }

}

.container {
    background-color: white;
    border-radius: 8px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin: 56px auto;
    max-width: 730px;
    padding: 64px;
    text-align: center;

}

.container img {
    margin-top: 35px;
    margin-bottom: 22px;
}

@media (max-width: 400px) {
    .container img {
        width: 100%;
    }
    .container p {
        font-size: 14px;
    }
    .container h1 {
        font-size: 20px;
    }
}
.container button {
    margin-top: 32px;
    background: #656FDB;
    border-radius: 8px;
    border: 0;
    color: #F0F0F5; 
    font-size: 14px;
    font-weight: bold;
    height: 56px;
    width: 266px;
    cursor: pointer;
    max-width: 100%;
}


