.container {
	background-color: white;
	border-radius: 8px;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
	font-size: 20px;
	margin: 56px auto;
	max-width: 730px;
	padding: 64px;
	text-align: center;
}

.container img {
	margin-top: 35px;
	margin-bottom: 22px;
}

@media (max-width: 400px) {
	.container img {
		width: 100%;
	}
	.container p {
		font-size: 14px;
	}
	.container h1 {
		font-size: 20px;
	}
}

ul li:nth-child(5) {
	background-color: #5c65c6;
	border-radius: 10px;
}
